$iphone6FontSize: 375 / 10;
@function px2rem($px) {
    @return $px / $iphone6FontSize + rem;
}

$titleSize: px2rem(16);
$infoSize: px2rem(14);
$minInfoSize: px2rem(12);
$radiusSize:px2rem(6);
$marginSize:px2rem(8);
$checkSize: px2rem(18);
$listGoodsImgSize:px2rem(100);