@import './reset';
@import './dimens.scss';
@import './colors.scss';

// 全局使用的css
// 最多显示两行文本
.text-line-2 { 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.single-row-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
}

// 第二层
.z-index-2{
    z-index: 2;
}

// 最顶层
.z-index-max { 
    z-index: 99999
}

// 三角形
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: px2rem(8) solid $mainColor;
    border-left: px2rem(6) solid transparent;
    border-right: px2rem(6) solid transparent;
}

// 遮罩
.cover {
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba($color: #000000, $alpha: 0.4);  
}